{% extends "daily_base.html" %}

{% block formHeadBlock %}
{% include 'from_to.html' %}   
{% endblock %}

{% block styleBlock %}
    <style>
        fieldset {
            border: 0;
        }        
        select {
            width: 140px;
        }
       
    </style>
{% endblock %}    

{% block highchartsblock %}
   {% for item in contents %}
    $('#tabs_{{item.index}}').highcharts({
            title: {
	            text: '{{item.title}}',
	            x: -20 //center
	        },
	        subtitle: {
	            text: '{{item.subtitle}}',
	            x: -20
	        },
	        xAxis: {
	            categories: [{{item.xAxis}}],
                tickInterval:{{item.t_interval}},
                labels:{
                    rotation:45
                }
	        },
	        yAxis: [{ // Primary yAxis
                labels: {                   
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: 'records',
                    style: {
                        color: '#89A54E'
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: 'btm (s)',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    //format: '{value} mm',
                    style: {
                        color: '#4572A7'
                    }
                },
                min: 0,
                opposite: true
            }],
	        tooltip: {
	            valueSuffix: '',
                shared: true  
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            borderWidth: 0
	        },
	        series: [{{item.series|safe}}]
    });
    {% endfor %}
{% endblock %}

{% block formblock %} 
    <form action="/dbuffer/all_dbuffer" method="get">
        {% include 'from_to2.html' %}  
        
        <input type="submit" value="Get" />
    </form>
{% endblock %}

{% block tabsblock %}
{% for item in contents %}
<div id="tabs_{{item.index}}" style="min-width:700px;height:400px" >
</div>
{% endfor %}

{% endblock %}