{% extends "current_day_base.html" %}

{% block formHeadBlock %}
{% include 'the_day.html' %}   

{% endblock %}

{% block styleBlock %}
    <style>
        fieldset {
            border: 0;
        }        
        select {
            width: 140px;
        }
       
    </style>
{% endblock %}    

{% block highchartsblock %}
   {% for item in contents %}
    $('#tabs_{{item.index}}').highcharts({
            title: {
	            text: '{{item.title}}',
	            x: -20 //center
	        },
	        subtitle: {
	            text: '{{item.subtitle}}',
	            x: -20
	        },
	        xAxis: {
	            categories: [{{item.xAxis}}]
	        },
	        yAxis: [{ // Primary yAxis
                labels: {                   
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: 'btm (s)',
                    style: {
                        color: '#89A54E'
                    }
                }
            }],
	        tooltip: {
	            valueSuffix: '',
                shared: true  
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            borderWidth: 0
	        },
	        series: [{{item.series|safe}}]
    });
    {% endfor %}
{% endblock %}

{% block formblock %} 
    <form action="/dbuffer/{{select_item.vt}}_hour_dbuffer" method="get">
        {% include 'the_day2.html' %}  
        <label for="version">版本：</label>
        <select name="ver" id="version">
            {% for item in vers %}
                {% ifequal item select_item.sver %}
                    <option value="{{item}}" selected="selected">{{item}}</option>
                {% else %}
                    <option value="{{item}}">{{item}}</option>
                {% endifequal %}
            {% endfor %}
        </select>
        <input type="submit" value="Get" />
    </form>
{% endblock %}

{% block tabsblock %}
{% for item in contents %}
<div id="tabs_{{item.index}}" style="min-width:700px;height:400px" >
</div>
{% endfor %}

{% endblock %}