<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Copatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直播流量监控</title>

    <script src="/static/jquery-1.11.1/jquery-1.11.1.min.js"></script>
    <script src="/static/Highcharts-4.0.4/js/highcharts.js"></script>
    <script src="/static/Highcharts-4.0.4/js/modules/exporting.js" type="text/javascript"></script>

    <script type="text/javascript">
    $(function () {
      $('#container').highcharts({
        chart: {
          zoomType: 'xy'
        },
        title: {
          text: '直播流量监控'
        },
        subtitle: {
          text: 'From {{fdate}} To {{tdate}}'
        },
        xAxis: [{
          categories: {{content.time|safe}} ,
          labels: {
            step: {{step}},
            rotation: 45
          }
        }],
        yAxis: [{
          labels: {
            style: {
              color: '#89A54E'
            }
          },
          title: {
            text: '流量(Gb/s)'
          }
        }, {
          title: {
            text: '放大比(p2p/cdn)'
          },
          labels: {
            style: {
              color: '#4572A7'
            }
          },
          opposite: true
        }],
        tooltip: {
          shared: true  
        },
        plotOptions: {
          column: {
            stacking: 'normal'
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          x: 120,
          verticalAlign: 'top',
          y: 100,
          floating: true
        },
        series: [{
          name: 'CDN',
          type: 'column',
          data: {{content.cdn|safe}},
          tooltip: {
            valueSuffix: ''
          }
        }, {
          name: 'P2P',
          type: 'column',
          data: {{content.p2p|safe}},
          tooltip: {
            valueSuffix: ''
          }
        }, {
          name: 'FDB',
          type: 'spline',
          yAxis: 1,
          data: {{content.fdb|safe}},
          tooltip: {
            valueSuffix: ''
          }
        }]
      });
    });    
    </script>
  </head>
  <body>
    {% if content %}
      <div id="container" style="min-width:1000px;height:600px"></div>
    {% else %}
      <p>{{error}}</p>
    {% endif %}    
  </body>
</html>
