<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Copatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直播数据监控</title>

    <link rel="stylesheet" href="/static/bootstrap-3.3.0/css/bootstrap.min.css">
  </head>
  <body>
    <h3><strong>直播数据监控</strong><small>Beta</small></h3>
    <hr />
    <div class="container-fluid">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li><a href="./admin" target="_blank">管理员</a></li>
        <li class="flow"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">流量(Flow) <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="./live_selector" target="display">按运营商</a></li>
            <li><a href="./live_loc_selector" target="display">按地域</a></li>
          </ul>
        </li>
        <li><a href="./live_connect_selector" target="display">Peer连接成功率</a></li>
        <li><a href="./live_rate_selector" target="display">传输速率(Rate)</a></li>
        <li><a href="#">播放状况(delay)</a></li>
      </ul>
    </div>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/jquery-1.11.1/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap-3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
