<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Copatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直播传输速率</title>
    <link rel="stylesheet" href="../../static/jquery-ui-1.11.2/jquery-ui.min.css">

    <script src="../../static/jquery-1.11.1/jquery-1.11.1.min.js"></script>
    <script src="../../static/jquery-ui-1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <script>
      $(function () {
        $( "#fromdate" ).datepicker({
          defaultDate: $("#fromdate").val(),
          dateFormat: "yy-mm-dd",
          onClose: function( selectedDate ) {
            $( "#todate" ).datepicker( "option", "minDate", selectedDate );
          }
        });

        $( "#todate" ).datepicker({
          defaultDate: $("#todate").val(),
          dateFormat: "yy-mm-dd",
          maxDate: -1,
          onClose: function( selectedDate ) {
            $( "#fromdate" ).datepicker( "option", "maxDate", selectedDate );
          }
        });
        $( "#fromdate" ).datepicker("option", "maxDate", $("#todate").val());
        $( "#todate" ).datepicker("option", "minDate", $("#fromdate").val());
    });
    </script>
  </head>
  <body>
    <div id="selector"> 
      <form id="form" action="live_rates.html" target="panel" method="get">
        <fieldset>
          <legend>传输速率-查询</legend>
          <label>选择日期：From</label>
          <input type="text" value={{fdate}} id="fromdate" name="from">
          <label>To</label>
          <input type="text" value={{tdate}} id="todate" name="to">
          <label for="version">版本</label>
          <select name="version" id="version">
          {% for item in ver %}
            {% ifequal item qver %}
              <option value="{{item}}" selected="selected">{{item}}</option>
            {% else %}
              <option value="{{item}}">{{item}}</option>
            {% endifequal %}
          {% endfor %}
          </select>

          <label for="rtype">速率类型</label>
          <select name="rtype" id="rtype">
          {% for item in rtype %}
            {% ifequal item qrtype %}
              <option value="{{item}}" selected="selected">{{item}}</option>
            {% else %}
              <option value="{{item}}">{{item}}</option>
            {% endifequal %}
          {% endfor %}
          </select>

          <label for="isp">运营商</label>
          <select name="isp" id="isp">
          {% for item in isp %}
            {% ifequal item qisp %}
              <option value="{{item}}" selected="selected">{{item}}</option>
            {% else %}
              <option value="{{item}}">{{item}}</option>
            {% endifequal %}
          {% endfor %}
          </select>
          <input type="submit" value="查询" />
          <br />
          <br />
        </fieldset>
      </form> 
    </div>
  </body>
</html>